# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data
* List data science libraries
* Make de table of 3 Data Science Tools 
* Create an example of an arithmetic expression
* Create an example of arithmetic expression to mutiply then add integers
* Create an expression to convert 200 minutes in hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. NumPy
3. matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras
7. TensorFlow
8. PyTorch

|Data Science Tools|
|------------------|
|MySQL|
|Hadoop|
|Apache AirFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [15]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [16]:
x = 200
y = float(x/60) 
print('200 minutes converted in hours = ',y)

200 minutes converted in hours =  3.3333333333333335

## Author
JanicK JEAN-MARIE